<div class="row">
    <ul>
        <% data.players.forEach(function(item) { %>


            <li> <%= item.name %> </li>
            <li> <%= item.position %> </li>
            <li> <%= item.jeyseyNumber %> </li>
            <li> <%= item.dateOfBirth %> </li>
            <li> <%= item.nationaity %> </li>
            <li> <%= item.contractUntil %> </li>
            <div class="stars starrr" data-rating="0"></div>
            <span class="glyphicon .glyphicon-star-empty glyphicon-star-empty"></span>
            <button class="btn btn-success btn-sm style" type="submit">Favourite</button>


        <% }); %>
    </ul>
</div>