


<table border="2">
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Age</th>
        <th>Country</th>
        <th>Goals</th>
        <th>Assist</th>
        <th>Pass Accuracy</th>
        <th>Appearances:</th>
    </tr>
    <% MyValue.players.forEach(function(item) { %>
    <tr>
        <td>
            <img width="200px" height="200px" src="./../images/<%= item.Image %>" alt="Player_Image">
        </td>
        <td><%= item.Name %></td>
        <td> <%= item.Age %></td>
        <td><%= item.Country %></td>
        <td><%= item.Goals %></td>
        <td><%= item.Assist %></td>
        <td><%= item.PassAccuracy %></td>
        <td><%= item.Appearances %></td>
    </tr>
    <% }); %>
</table>


    <br/><br/><br/><br/><br/>
</div>

